header {
    margin: 20px 0 40px 0;
    padding: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
        display: inline-block;

        .header-name {
            color: #333 !important;
            font-size: 25px;
        }
    }


    .header-nav {
        display: inline-block;

        ul {
            display: flex;
            align-items: flex-end;

            li {
                display: inline-block;
                padding: 10px 15px;
                margin: 5px 15px;
                font-size: 20px;


            }
        }
    }
}