body {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

#root {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes toLeft {
  0% {
    color: white;
    left: 40%;
  }

  100% {
    left: 0px;
  }

}

@keyframes fromWhite {
  0% {
    color: white;
    background-color: #fff;

  }

  100% {}

}